<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-5">
                <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmitResetPassword(resetPasswordForm.value)">
                    <div class="mb-2">
                        <h5>
                            <label class="form-label" for="resetNewpassword1">Enter new password</label>
                        </h5>
                        <input type="text" class="form-control" id="resetNewpassword1"
                            formControlName="resetNewpassword1" placeholder="Enter new password">
                        <h6>
                            <div *ngIf="resetNewpassword1" style="color: red;">
                                Please
                                enter minimum 8 letter</div>
                        </h6>
                    </div>
                    <div class="mb-2">
                        <h5>
                            <label class="form-label" for="resetNewpassword2">Confirm new password</label>
                        </h5>
                        <input type="text" class="form-control" id="resetNewpassword2"
                            formControlName="resetNewpassword2" placeholder="Confirm new password">
                        <h6>
                            <div *ngIf="resetNewpassword2" style="color: red;">
                                Please
                                enter minimum 8 letter</div>
                        </h6>
                        <h6>
                            <div *ngIf="confirmPassword && checkConfirmedPasswordDirty" style="color: red;">
                                Confirm password must match with password</div>
                        </h6>
                        <label>{{resetPassword2Value}}</label>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" [disabled]="confirmPassword" class="btn btn-primary">Reset</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>