.my-button {
    position: relative;
    /* right: 60px; */
    /* flo; */
    /* Adjust padding as needed */
    /* Adjust font size as needed */
    /* display: flex; */
    /* justify-content: flex-end; */
    /* padding: 10px 20px; */
    /* Adjust padding as needed */

}

.productListEle {
    position: absolute;
    left: 60px;
}

.container {
    display: flex;
    /* align-items: center; */
    position: relative;
    /* left: 150px; */
    /* width: 2800px; */
    max-width: 1970px;
}


.pagination {
    position: absolute;
    left: 980px;
}

/* 
.addProduct {
    position: relative;
    left: 580px;
} */


.highlight {
    background-color: yellow;
}

.noProductDsiplay {
    position: relative;
    /* left: 750px; */
    /* font-size: 50px; */
}

/* .container-fluid {
    position: relative;
} */

/* @media screen and (max-width:600px) {

    .container-fluid {
        display: flex;
        align-items: left;
        position: relative;
        left: 50px;
    }
} */