.form-select {
    font-size: 30px;
    color: black;
}

.text-center {
    font-size: 22px;
    color: black;
}

/* .container { */
/* display: flex; */
/* align-items: center; */
/* position: relative; */
/* left: 150px; */
/* width: 1400px; */
/* } */

/* @media screen and(max-width: 600px) {

    .navbar {
        position: relative;
    }
} */


.navbar-nav {
    left: 60px;
}

.logoutItem {
    left: 600px;
}