.form-label {
    color: black;
}

.form-control {
    height: 50px;
    width: 520px;
    border-color: rgb(140, 140, 241);
}

.container {
    position: relative;
    left: 420px;
}

.center {
    position: absolute;
    width: 900;
    height: 900;
    padding-top: 100px;
    left: 900px;
}

.sellercenter {
    position: relative;
    left: 150px;
}

.logintext {
    position: relative;
    left: 150px;
}

@media only screen and (max-width: 600px) {

    .container {
        position: relative;
        left: 10px;
        /* width: 100px; */
    }
}