<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit(forgetPasswordForm.value)">

                <div class="mb-2">
                    <h5>
                        <label for="userEmailAddress" class="form-label">Email</label>
                    </h5>
                    <input type="text" class="form-control" id="userEmailAddress" formControlName="userEmailAddress"
                        placeholder="Enter email">
                    <h6>
                        <div *ngIf="forgetPasswordForm.get('userEmailAddress').hasError('required')"
                            style="color: red;">
                            email is required</div>
                        <div *ngIf="forgetPasswordForm.get('userEmailAddress').hasError('email')" style="color: red;">
                            enter a valid email address ending with : &#64;mailType.com</div>
                    </h6>
                </div>
                <span>We’ll send a verification code to this email if it matches an existing Seller
                    Portal account.
                </span>
                <div class="d-grid gap-2">
                    <button type="submit" [disabled]="!forgetPasswordForm.valid" class="btn btn-primary">Send
                        OTP</button>
                </div>

                <p class="text-center text-muted mt-4 mb-0">Have already an account?
                    <a routerLink="/login" class="fw-bold text-body">
                        <u>Login here</u>
                    </a>
                </p>
            </form>
        </div>
    </div>
</div>